/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    font-family: 'Raleway', 'Arial', sans-serif;
    color: #000000;
    width: 100%;
    margin: auto;
    max-width: 1440px;
    
}

.main-container {
    width: 95%;
    margin: auto; 
    height: 100%;
}

/*******Header******/
header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-top: -30px;
    margin-left: -10px;
    width: 6%;   
}

.Navigation-hébergements-Activités{
    margin-top: -57px;
}

.activites-link{
    color: black;
    text-decoration: none;
    padding-top: 10px;
    margin-left: 30px;
}

.activites-link:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

.hebergement-link{
    color: black;
    text-decoration: none;
    padding-top: 10px;
}

.hebergement-link:hover{
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

/*******Recherches, flitres et infos*******/

/*******Barre de recherches*******/
.My-form{
    display: flex;
    display: inline-flex;
    margin-bottom: 5px;
    margin-top: 10px;
}
.Logo-input{
    background-color: var(--main-bg-color);
    padding: 12px;
    border-radius: 11px 0px 0px 11px;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.Logo-input i{
    color: black;
    margin-top: 5px;
}
.Inputtext {
    border: none; 
    border: 1px solid var(--main-bg-color);
    outline: none;
    font-weight: bold;
    color: black;
    font-size: 15px;
}

.button {
    background: var(--main-color);
    border: none;
    height: 50px;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 0px 11px 11px 0px;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;
}
/*******Icone pour le responsive smartphone*******/
.iconsearch {
    display: none;
}

/*******Filtres-navigation*******/
.Filtres-navigation{
    display: flex;
    align-items: center; 
    margin-top: 15px;
}

.Filtres-navigation h3{
    margin-right: 20px;
}

.Filtres-navigation ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.Filtres-navigation li {
    margin-right: 10px;
    font-weight: bold;
    border: 2px solid var(--main-bg-color);
    padding: 10px;
    border-radius: 30px;
}

.Filtres-navigation span{
    font-size: 90%;
}

.Filtres-Eco-Famil{
    display: flex;
    align-items: center;
}

.Filtres-Roma-Pepit{
    display: flex ;
    align-items: center;
}

.Filtres-navigation ul li:hover {
    background-color: var(--filter-bg-color);
}

.icon {
    margin-right: 5px;
    text-decoration: none;
}

/****** Berre d'information ***********/
.informations{
    display: flex;
    margin-bottom: 30px;
    margin-top: 20px;
}
.info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #D9D9D9;
    margin-right: 10px;
    font-size: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires .hebergements {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 15px;
    height: 550px;
    
}
.hebergements-and-populaires .populaires {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
    margin-left: 30px;
}

.Decorationcliquable{
    text-decoration: none;
}

/****** Hebergements And Populaires cards ***********/
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-left:3% ;
    display: flex;
    display: inline-block;
    color: black;
    margin-top: 33px;
    width: 210px;
}
.euro {
    font-weight: 700;
}
.card-rating .neutral-star{
    color: var(--main-bg-color);
}

/****** Hebergements ***********/

.hebergements-title {
    font-size: 13px;
    margin-left: 20px;
    margin-bottom: -20px;
}

.hebergements .card{
    width: 29%;
    box-sizing: border-box;
}

.hebergements-cards img {
    width: 100%;
    height: 110px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.hebergements-cards .card-title{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
}

.hebergements-cards .card-subtitle {
    margin-left:10px;
    font-size: 14px;
    margin-top: 2px;
}

.hebergements-cards .card-rating{
    margin-left: 10px;
    margin-top:-10px;
}

.Afficher-plus{
    margin-left: 30px;
    color: black;
    font-weight: bold;
    margin-top: 30px;
}

/****** Populaires ***********/

.populaires-title {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-left: 20px;
    margin-bottom: -10px;
    margin-top: 10px;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    color: black;
    width: 90%;
    height: 115px;
}

.populaires-cards img {
    width: 33%;
    height: 100%;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 16px;
}

.populaires-cards .card-subtitle {
    margin: 0;
    margin-left: 10px;
}

.populaires-cards .card-rating {
    margin-left: 10px;
    bottom: 0;
    position: absolute;
    margin-bottom: 10px;
}
/*******Activités*******/
.Activités{
    margin-top: 60px;
}

.articles-title{
    margin-left: 15px;
    margin-bottom: 35px;
}

.articles{
    display: flex;
    justify-content: center;
    margin-left: 30px;
}

.card-articles{
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.1));
    height: 450px;
    width:  25%;
    margin: 0px 30px 0px 0px;
}

.card-articles img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 90%;
    margin-bottom: 3px;
}

.card-title{
    margin-top: 8px;
    margin-left: 10px;
    color: black;
    font-size: 14px;
}

/*******Footer*******/
.footer{
    display: flex;
    background-color: var(--main-bg-color);
    width: 100%;
    justify-content: space-around;
    margin-top: 40px;
}

.footer h4{
    margin-left: -160px;
 }

.footer p {
   margin-left: -160px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media all and (max-width: 1024px) {
/****** Tablet général***********/   
    .main-container{
        width: 95%;
        margin: auto;
    }
/****** Tablet header - haut de page***********/    
    
    .logo{
        padding: 5%;
    }

/****** Tablet Filtres - recherche - info***********/
    
    .Recherches-Filtres{
        padding: 0% 5% ;
    }

/****** Tablet Hébergements***********/

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements-and-populaires .hebergements{
        width: 96%;
    }

/****** Tablet Populaires***********/
    
    .hebergements-and-populaires .populaires{ 
        margin-top: 50px;
        margin-left: 0;
    }

    .section-title{
        margin:0;
    }
    
    .populaires-cards{
        display: flex;
        justify-content: space-around;
        margin-top: 0;
        margin-bottom: 15px;
        margin-right: 15px;
    }

    .populaires-cards .card {
        width: 210px;
    }

    .populaires-cards img {
        object-fit:cover;
    }

    .populaires-cards .card-title {
        font-size: 12px;
    }

    .populaires-cards .card-subtitle {
        font-size: 12px;
    }
    
/****** Tablet Activités***********/   
    
    .articles{
        height: 250px;
    }

    .card-articles img{
        height: 80%;
    }

    .card-articles{
        height: 100%;
        margin-top: 20px;
    }

/****** Footer - bas de page***********/

    .footer{
        margin-top: 60px;
    }
    
    .footer p {
        margin-left: -50px;
    }

    .footer h4{
        margin-left: -50px;
    }
}

/* Small devices (phones, less than 768px) */
@media all and (max-width: 767.98px) {
/***** Général *****/
    
    .main-container{
        width: 100%;
        display: flex;  
        flex-direction: column;
    }

/***** Header - haut de page *****/

    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo{
        width: 20%;
        margin-top: 50px;
    }

    .Navigation-hébergements-Activités{
        margin-top: 15px;
        display: flex;
        margin-bottom: 30px;
        width: 100%;
        justify-content: space-around;
    }
    
    .hebergement-link{
        margin-left: 20px;
    }
    
    .hebergement-link:hover{
        border-top: none;
        border-bottom: 2px solid var(--main-color);
        padding-bottom: 30px;
    }

    .activites-link {
        margin-right: 40px;
    }

    .activites-link:hover{
        padding-bottom: 30px;
        border-top: none;
        border-bottom: 2px solid var(--main-color);
    }
/***** Barre de recherche *****/

    .Recherches-Filtres{
        margin-top: 40px;
    }

    .My-form{
        width: 100%;
    }
    
    .Inputtext{
        width: 100%;
        font-size: 100%;
    }

    .textsearch {
        display: none;
    }

    .button {
        width: 50px;
        border-radius: 15px 15px 15px 15px;
        margin-left: -10px;
        filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
    }

    .iconsearch{
        display: initial;
    }

    .iconsearch i{
        color: white;
    }
/***** Filtres - navigation*****/

    .Filtres-navigation{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: -10px;
    }

    .Recherches-Filtres h1{
        font-size: 100%;
    }

    .filtre-conteneur{
        width: 100%;
    }

    .Filtres-navigation h3 {
        align-items: flex-start;
        margin-left: 10px;
    }

    .Filtres-navigation li{
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 5px;
    }

    .Filtres-navigation ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .Filtres-Eco-Famil{
        display: flex;
        align-items: center;
        width: 100%;
    }

    .Filtres-Roma-Pepit{
        display: flex;
        align-items: center;
        width: 100%;
        white-space: nowrap;
    }

    .Filtres-navigation span{
        width: 100%;
        font-size: 90%;
        display: flex;
        align-items: center;
    }

/****** Smartphone Hébergement et Populaires***********/    
    
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        width: 100%;
    }

/****** Smartphone Populaires***********/
    
    .hebergements-and-populaires .populaires{
        height: 600px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        border-radius: 0;
        margin-top: 0;
    }

    .populaires-cards{
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    .populaires-cards .card{
        width: 100%;
        box-sizing: border-box;
        height:150px;
        margin-top: 20px;
    }

/****** Smartphone Hébergements***********/
    
    .hebergements-and-populaires .hebergements{
        background: none;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
    }

    .hebergements-cards{
        width: 95%;
    }

    .hebergements-cards .card {
        width: 100%;
    }

    .hebergements-cards img {
        width: 100%;
        height: 102px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
    }
    
/****** Smartphone Activités***********/

    .Activités{
        margin-top: 900px;
        width: 100%;
    }

    .articles{
        display: flex;
        flex-direction: column;
        width: 85%;
        margin-top: 430px;
    }

    .articles .card-articles{
        width: 100%;
    }

    .card-articles img{
        height: 80%;
    }

    .articles-title{
        padding: 0;
        margin-left: 20px;
    }

/****** Smartphone Footer***********/

    .footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 470px;
    }

    .footer p{
        margin-left: 30px;
    }

    .footer h4{
        margin-left: 30px;
    }
}